@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

body{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins';
}

.another-profile{
    background-image: url('/images/Schadrack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left center;
}
form input,textarea{
padding: 8px;
border-radius:8px;
}